@font-face {
    font-family:'egret';
    src:url('../font/千图马克手写体.ttf'); /* 修改成你的字体 */
    font-display:swap
}
h1#site-title {
    font-family:egret!important;
}
span#subtitle {
    font-family:egret!important
}
a#site-name {
    font-family:egret!important
}
